<h3><%= question %></h3>
<form>
  a.) <%= a %><input type="radio" name="answer" class = "ans" id="a"><br>
  b.) <%= b %><input type="radio" name="answer" class = "ans" id="b"><br>
  c.) <%= c %><input type="radio" name="answer" class = "ans" id="c"><br>
  d.) <%= d %><input type="radio" name="answer" class = "ans" id="d"><br>
</form>
